* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #0f2b2c;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.65;
}
.pHeader p {
    text-align: center;
}
.pHeader a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 15px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
    letter-spacing: 2.2px;
    line-height: 18.15px;
    text-size-adjust: 100%;
}
.pColor1 {
    color: rgb(15, 43, 44);
}
.pBgColor1 {
    background-color: #efc383;
}
.pBgColor2 {
    background-color: #0f2b2c;
}

.pNav {
    padding: 14.5px 30px;
    justify-content: space-between;
}
.pMain {
    position: relative;
    margin: 50px auto 0px;
    max-width: calc(100% - 200px);
}
.pSecond {
    line-height: 23.1px;
    justify-content: space-between;
}
.pSecond h2 {
    letter-spacing: 3.6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27.7px;
}
.pFlex {
    display: flex;
}
.pForm {
    margin-bottom: 20px;
}
.pParent{
    border: 1px solid #0f2b2c;
    position: relative;
    background-color: #0f2b2c;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
.pParent:hover .pChild1 {
    animation-name: anime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.pParent:hover .pChild2 {
    color: #0f2b2c;
}
.pParent a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}
.pChild1 {
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: 0%;
    background-color: white;
    transition: width 1s;
    animation-name: anime2;
    animation-duration: 1s;
}
.pChild2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    color: white;
    transition: color 1s;
}
.pW-50 {
    width: 50%;
}
.pB {
    font-weight: 700;
    line-height: 1.65;
    color: #212a2f;
}
.pDiv2 {
    max-width: 1200px;
    padding: 0 24px;
    margin: auto;
}
.pDiv img{
    width: 100%;
}
.pImg {
    justify-content: center;
    margin: 0px 0px 60px 0px;
}
.pDiv .pFlex {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.pRev {
    flex-direction: row-reverse;
}
.pPad {
    padding: 36px 84px;
}
.pPad p {
    line-height: 33px;
    letter-spacing: .5px;
    font-size: 15px;
    color: #0f2b2c;
}
.pPad h1 {
    line-height: 33px;
    letter-spacing: 0.5;
    font-size: 25px;
    color: #0f2b2c;
    margin-bottom: 25px;
}

@keyframes anime {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes anime2 {
    from {
        width: 100%;
        left: 0%;
    }
    to {
        width: 0%;
        left: 100%;
    }
}